<!-- begin content -->
<div id="site_content">
  <!-- start gallery HTML containers -->
  <div class="navigation-container">
    <div id="thumbs" class="navigation">
      <a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>
      <ul class="thumbs noscript">
        <% @images.each do |photo| %>
            <li>
              <a class="thumb" href="<%= photo.photo_url %>"><%= image_tag(photo.photo_url(:thumb), alt: "one") %></a>

              <div class="caption">
                <div class="image-title portfolio_two"><%= photo.describer %></photo.describer></div>
              </div>
              <% unless find_user.nil? %>
                  <%= link_to "删除图片",del_image_path(:id=> photo.id) %>
              <% end%>
            </li>
        <% end %>
      </ul>

      <a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
    </div>
  </div>
  <div class="content">
    <div class="slideshow-container">
      <div id="loading" class="loader"></div>
      <div id="slideshow" class="slideshow"></div>
      <div id="controls" class="controls portfolio_two"></div>
      <div id="caption" class="caption-container"></div>
    </div>

  </div>
  <!-- end gallery HTML containers -->
  <!--<%= will_paginate(@images, :renderer => WillPaginate::ActionView::LinkRenderer) %>-->
</div>

<!-- end content -->